      *{
      background-color:grey;
      color:Black
      }.title{
      background-color:Black;
      color:white;
      }.pattern1{
      font-family: 'helvetica neue', helvetica, sans-serif;
      letter-spacing: 1px;
      }.Orange{
      color:Orange;
      }.blue{
      color:blue;
      }.header{
      border: 5px solid #000000;
      background-color:white;
      }.circle{
      display: flex;
      align-items: center;
      justify-content: center;
      background: Black;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      color: #fff;
      font-size: 20px;
      color: grey;
      }.Black{
      color:black;
      background-color:black;
      }html{
      scroll-behavior:smooth;
      }.right{
      float:right;
      }.foot{
      background-color:DimGrey;
      }.mokuji{
      background-color:DimGrey;
      }.code{
      background-color: DimGrey;
      border: 5px solid #000000;
      font-size: 15px;
      }
